@model EvgeniForum.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@Model.Title</h1>

<div class="alert alert-info">
    @Model.Description
</div>

@foreach (var post in Model.Posts)
{
    <div class="media-body">
        <h4 class="media-heading"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a></h4>
        <P>@post.ShortContent</p>
        <ul class="list-inline list-unstyled text-right">
            <li class="list-inline-item">By @post.UserUserName <i class="fas fa-user-edit"></i></li>
            <li class="list-inline-item"> @post.CreatedOn <i class="fas fa-calendar-alt"></i></li>
            <li class="list-inline-item"> @post.CommentsCount comments <i class="fas fa-comment-dots"></i></li>
        </ul>
    </div>
}